# root
/*.xlsx
/*.xls
#/*.txt

# pycache




# DAS_logs
unsupervised_pretraining/model_init/*.npz

# figs
figs/*.pdf

# models_of_blocks
models_of_blocks/**/*.npz

# metatask_sampling
metatask_sampling/*.tif
metatask_sampling/*.xlsx

# src_data_
data_src/*.csv

# folder
tmp/
checkpoint_dir/
.idea/
__pycache__/
task_sampling/
adapted_models/

# Unsupervised_Pretraining

# file
*.xlsx

*~

