# root
/*.xlsx
/*.xls
#/*.txt

*.xlsx
figs/*.pdf
models_of_blocks/**/*.npz
metatask_sampling/*.tif
metatask_sampling/*.xlsx
data_src/*.csv
rainfall.py
Xgboost_.py

# folder
tmp/
checkpoint_dir/
.idea/
__pycache__/
task_sampling/
adapted_models/


*~

